body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.active-page {
    background-color: black;
    color: white;
}


/* Add Firearm Style */

.tableForm {
    margin: auto;
    width: 800px;
}

.tableValue2 {
    display: table-cell;
    width: 275px;
}

.tableValue3 {
    display: table-cell;
    width: 141px;
}

.tableButton {
    display: table-cell;
    width: 800px;
}


/* List Style */

.tableList {
    margin: auto;
    width: 100%;
}

.tableRow {
    display: table-row;
    width: 100%;
}

.tableRow:hover {
    background-color: grey;
    color: whitesmoke;
}

.tableName {
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: table-cell;
    font-weight: bold;
}

.tableValue {
    display: table-cell;
}

.tableForm,
.tableRow,
.tableName,
.tableValue,
.tableValue2,
.tableValue3,
.tableButton {
    padding: 5px;
}

.oneFirearmLink {
    cursor: pointer;
}